doctype html
html(lang='en')
  head
    title Home Page
    meta(charset='utf-8')
    script(src='https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='/js/menus.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='../jquery-ui/external/jquery/jquery.js')
    script(src='../jquery-ui/jquery-ui.min.js')
    script.
      $( function() {
      $( "#accordion" ).accordion({
      heightStyle: "content"
      });
      } );
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    include ../../menus/menus.html
    section
      article
        #chart
          #chart1
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);', width='600px', height='350px', src='https://charts.mongodb.com/charts-coronavirus-project-apnnb/embed/charts?id=3a528e5a-d9fe-485c-9d56-b20e67b885a1&theme=light')
          #chart2
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);', width='600px', height='350px', src='https://charts.mongodb.com/charts-coronavirus-project-apnnb/embed/charts?id=19b868c2-04c5-4e06-935c-961f77199c07&theme=light')
        #chart
          #chart3
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);', width='600px', height='350px', src='https://charts.mongodb.com/charts-coronavirus-project-apnnb/embed/charts?id=e7311341-07aa-4e82-99a0-2f9187743344&theme=light')
          #chart4
            iframe(style='background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);', width='600px', height='350px', src='https://charts.mongodb.com/charts-coronavirus-project-apnnb/embed/charts?id=6a3fa762-2380-460b-9763-8be7096ebba3&theme=light')
    footer
      p Copyright 2020, SFCrimes Inc
