html
   head

      title Logged in page
      style
      link(rel='stylesheet', type='text/css', href='/css/style.css')
    //-   link(rel='stylesheet', href='../jquery-ui/jquery-ui.min.css')
    //-   script(src='../jquery-ui/external/jquery/jquery.js')
    //-   script(src='../jquery-ui/jquery-ui.min.js')
    //-   script(src='../js/widgets.js')

   body
      include ../../menus/menus.html
      p Hi, #{name}, you're now logged in.




