doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title CoronaVirus Database Visualization
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		// import echarts.js
		script(src='https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js')
		link(rel='stylesheet', href='../jquery-ui/jquery-ui.min.css')
		script(src='../jquery-ui/external/jquery/jquery.js')
		script(src='../jquery-ui/jquery-ui.min.js')
		script(type='text/javascript', src='/js/resize.js')
		script(type='text/javascript', src='/js/canvas.js')
		script(type='text/javascript', src='/js/drag.js')
		script(src='../js/widgets.js')
	body
		div

			#topPay
				canvas#myCanvas(width='200', height='80', style='border:1px solid #d3d3d3')


			div

			.header
				h1 CoronaVirus Database Visualization
			div

				section
					#accordion
						h3 What You Should Know
						div
							h2 How COVID-19  Spreads
							ul 
								li Between people who are in close contact with one another (within about 6 feet).
								li Through respiratory droplets produced when an infected person coughs or sneezes.
							a(href='https://www.cdc.gov/coronavirus/2019-nCoV/index.html', title='Source') Source From https://www.cdc.gov/coronavirus/2019-nCoV/index.html!	

						h3 Situation Updates
						div
							h2 Situation in U.S.
							ul 
								li Imported cases of COVID-19 in travelers have been detected in the U.S.
								li Person-to-person spread of COVID-19 was first reported among close contacts of returned travelers from Wuhan.
							a(href='https://www.cdc.gov/coronavirus/2019-nCoV/index.html', title='Source') Source From https://www.cdc.gov/coronavirus/2019-nCoV/index.html!
				aside
					div
						.wrap1
							img.logpic(src='/pictures/login.png')
							form(action='/login', method='POST')
								input(type='text', placeholder='Username', name='username', required='')
								input(type='password', placeholder='Password', name='password', required='')
								div
								input(type='submit', value='Submit')
								a(href='register', method='GET')  Don't have an account
								#target DROP ON ME
						.footer
							center
								p
									| Copyright 2020, CoronavirusReport Inc.
									br
									|     All Rights Reserve


