//extends layout
//extends chart
//block content
html(lang='en')
    head
        meta(charset='UTF-8')
        title CoronaVirus Database Visualization
        //link(rel='stylesheet', type='text/css', href='./css/style.css')
       style
           include ../public/css/style.css
    body
      div.title
        h1 CoronaVirus Database Visualization
      div.user_button
          button.btn
            a(href='/register') New User?
          button.btn
            a(href='/login') Login
      include chart
