doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title CoronaVirus Database Visualization
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		link(rel='stylesheet', href='../jquery-ui/jquery-ui.min.css')		
		// import echarts.js
		script(src='https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js')

		script(src='../jquery-ui/external/jquery/jquery.js')
		script(src='../jquery-ui/jquery-ui.min.js')
		script(type='text/javascript', src='/js/resize.js')
		script(type='text/javascript', src='/js/canvas.js')
		script(src='../js/widgets.js')
	body
		div
			#topPay
				canvas#myCanvas(width='200', height='80', style='border:1px solid #d3d3d3')
			div
			.header
				h1 CoronaVirus Database Visualization
			div
				aside
					div
						.wrap1
							img.logpic(src='/pictures/login.png')
							form(action='/login', method='POST')
								input(type='text', placeholder='Username', name='username', required='')
								input(type='password', placeholder='Password', name='password', required='')
								div
								input(type='submit', value='Submit') 
								a(href='register', method='GET')  Don't have an account
								
						.footer
							center
								p
									| Copyright 2020, CoronavirusReport Inc.
									br
									|     All Rights Reserve


