//extends layout
//extends chart
//block content
html(lang='en')
    head
        meta(charset='UTF-8')
        title CoronaVirus Database Visualization
        // import echarts.js
        link(rel='stylesheet', type='text/css', href='style.css')
        script(src='https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js')
    body

  p

            h1 CoronaVirus Database Visualization
        #main(style='width: 70%;height:600px;float:left')
        script(type='text/javascript').
          var myChart = echarts.init(document.getElementById('main'));
          option = option = {
            title: {
              text: 'CoronaVirus Total Counts Per Day'
            },
            tooltip: {
              trigger: 'axis'
            },
            xAxis: {
              data: ["02/01/2020","02/02/2020","02/03/2020","02/04/2020","02/05/2020","02/06/2020","02/07/2020","02/08/2020","02/09/2020","02/10/2020","02/11/2020","02/12/2020","02/13/2020","02/14/2020"]
            },
            yAxis: {
              splitLine: {
                show: false
              }
            },
            toolbox: {
              left: 'center',
              feature: {
                dataView: {
                  title: 'data view',
                  lang: ['data view', 'turn off', 'refresh'],
                },
                saveAsImage: {
                  title: 'Save as image'
                }
              }
            },
            dataZoom: [{
              startValue: '02/01/2020'
            }, {
              type: 'inside'
            }],
            visualMap: {
              top: 10,
              right: 10,
              pieces: [{
                gt: 0,
                lte: 15000,
                color: '#096'
              }, {
                gt: 15000,
                lte: 20000,
                color: '#ffde33'
              }, {
                gt: 20000,
                lte: 30000,
                color: '#ff9933'
              }, {
                gt: 30000,
                lte: 50000,
                color: '#cc0033'
              }, {
                gt: 50000,
                color: '#7e0023'
              }],
              outOfRange: {
                color: '#999'
              }
            },
            series: {
              name: 'CoronaVirus Total Counts',
              type: 'line',
              data: [14380,17205,20438,24324,28018,31161,31774,33738,35982,37626,38800,52526,55748,63936],
              markLine: {
                silent: true,
                data: [{
                  yAxis: 15000
                }, {
                  yAxis: 20000
                }, {
                  yAxis: 30000
                }, {
                  yAxis: 50000
                }]
              }
            }
          };
          myChart.setOption(option);

    .login
     form(action = "/register" method = "POST")
      table(border='1')
        caption New User Register
        tbody
          tr
            th Enter your username
            td
              input(type = 'text',name ='username',maxlength ='10',title ='enter you username',placeholder ='enter your username', required='')
          tr
            th Enter your first name
            td
              input(type='text', name='firstname', maxlength='10', title='enter your first name', placeholder='enter your first name')
          tr
            th Enter your last name
            td
              input(type='text' name ='lastname',maxlength ='10', title='enter your last name', placeholder='enter your last name' )
          tr
            th Enter your password
            td
              input(type='password',name ='password')
          tr
            th ReEnter your password
            td
              input(type='password',name ='passwordConfirm')
          tr
            th Enter your email
            td
              input(type='email',placeholder='xxxx@xxx.xxx')
          tr
            th Enter your mobile
            td
              input(type='number',placeholder='(xxx)xxx-xxxx')
          tr
            td(colspan='2', align='center')
              input(type='submit', value='Submit')
              input(type='reset', value='Clear')
