doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='../jquery-ui/jquery-ui.min.css')    
    script(src='../jquery-ui/external/jquery/jquery.js')    
    script(src='../jquery-ui/jquery-ui.min.js')

  body
    block content
