html
   head
      title Logged in page
   body
      button#btn.btn.btn-primary(onclick="window.location.href = '/logout';") Logout
      p Hi, #{name}, you're now logged in.
      p You may download the #[a(href="/protected") data].
      include chart
