html
   head
      title Logged in page
      style
         include ../public/css/style.css
   body
      //button#btn.btn.btn-primary(onclick="window.location.href = '/logout';") Logout

      p Hi, #{name}, you're now logged in.
         button.btn
            a(href='/download') Download
         button.btn
            a(href='/logout') Logout
         button.nightmode
            a(onclick="document.body.style.backgroundColor='lightgrey'") Night Mode
         button.daymode
            a(onclick="document.body.style.backgroundColor='white'") Day Mode
      //p You may download the #[a(href="/protected") data].
      
      

      //- input(type='button', value='Night Mode', onclick="document.body.style.backgroundColor='lightgrey'")
      //- input(type='button', value='Day Mode', onclick="document.body.style.backgroundColor='white'")
         

      include chart
