html
   head
      title Login
   body
      if(message)
         h4 #{message}
         form(action = "/login" method = "POST")
            table(border='1', align='left')
               tbody
                  tr
                     th Enter your user name
                     td
                        input(type='text', name='username', maxlength='10', title='enter your username', placeholder='username', required='')
                  tr
                     th Enter your password
                     td
                        input(type='password', name='password', maxlength='10', title='enter your password', placeholder='password', required='')
                  tr
                     td(colspan='2', align='center')
                        input(type='submit', value='Submit') 
                     
                     

