doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Database Management
    style
      include ../../public/css/style.css

  body
    include ../../menus/menus.html
    h2 Coronavirus Database Management
    table.management_table
      tbody
        tr.mangement_tr
          th.management_th Country
          th.management_th Total
          th.management_th New
          th.management_th Date
          th.management_th Operation
        each data in datalist
          tr.mangement_tr
            td.management_td #{data.country}
            td.management_td #{data.total}
            td.management_td #{data.new}
            td.management_td #{data.dt}
            td.management_td 
              button.btn.btn-update UPDATE
              button.btn.btn-delete DELETE
  

    
    h2 Add New Coronavirus Data
    div.addForm
        form(action='management', method='POST')
          label.addFormOther(for='country') Country:
          br
          input#country(type='text', name='countryname', placeholder='Country', required='')
          br
          label.addFormOther(for='total') Total:
          br
          input.addFormOther(type='number', name='totalnumber', placeholder='Total Number', required='')
          br
          br
          label.addFormOther(for='new') New:
          br
          input.addFormOther(type='number', name='newnumber', placeholder='New cases', required='')
          br
          br
          label.addFormOther(for='date') Date:
          br
          input.addFormOther(type='date', name='date', placeholder='Date', required='')
          br
          input#addButton(type='submit', value='Add')
          br
          br







      


