doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Database Management
    style
      include ../../public/css/style.css

  body
    h2 Coronavirus Database Management
    table.management_table
      tbody
        tr.mangement_tr
          th.management_th Country
          th.management_th Total
          th.management_th New
          th.management_th Date
          th.management_th Operation
        tr.mangement_tr
          td.management_td USA
          td.management_td 16000
          td.management_td 5000
          td.management_td 03/20/2020
          td.management_td 
            button.btn.btn-update UPDATE
            button.btn.btn-delete DELETE
        tr.mangement_tr
          td.management_td Canada
          td.management_td 16000
          td.management_td 5000
          td.management_td 03/20/2020
          td.management_td
            button.btn.btn-update UPDATE
            button.btn.btn-delete DELETE
    .center-add
      button.btn.btn-add ADD

    








      


