<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoronaVirus Database Visualization</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='../css/style.css'>
    <!-- import echarts.js -->
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body>
<div >
    <h1 class="banner">CoronaVirus Database Visualization</h1>
    <div class="login_form">
        <form>
            <fieldset>
                <div>
                    <label for="username">Username: </label>
                    <input id="username" type="text"/>
                </div>
                <div>
                    <label for="password">Password: </label>
                    <input id="password" type="password" />
                </div>
                <div>
                    <button type="button" class="btn btn-primary newUser_button">New User?</button>
                    <button type="button" class="btn btn-success login_button">Login</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>
