<html>
<head>
    <title>HTML Table</title>
</head>
<body>
<form method="" action="/register">
    <table border="1" align="right">
        <caption>Registration form</caption>
        <tbody>
        <tr>
            <th>Enter your first name</th>
            <td>
                <input type="text" name="fn" maxlength="10" title="enter your first name" placeholder="enter your first name" required=""/>
            </td>
        </tr>
        <tr>
            <th>Enter your last name</th>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <th>Enter your password</th>
            <td>
                <input type="password"/>
            </td>
        </tr>
        <tr>
            <th>ReEnter your password</th>
            <td>
                <input type="password"/>
            </td>
        </tr>
        <tr>
            <th>Enter your email</th>
            <td>
                <input type="email" placeholder="xxxx@xxx.xxx"/>
            </td>
        </tr>
        <tr>
            <th>Enter your mobile</th>
            <td>
                <input type="number" placeholder="(xxx)xxx-xxxx"/>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit"/>
                <input type="reset" value="Clear"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
