#chart{
    margin: 30px auto;
    width: 80%;
    height:600px;
    text-align: center;
}

.banner {
    text-align: center;
}

/*.users {*/
/*    float: right;*/
/*    margin-top: 10px;*/
/*    margin-right: 5%;*/
/*}*/

.login{
    float:right;
    margin: 5px;
}

.login_form{
    text-align: center;
    margin-top: 5rem;
}

.login_button {
    
}

